<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Ansin.web.mapper.ItemMstMapper" >
    <resultMap id="BaseResultMap" type="Ansin.web.entity.ItemMstEntity" >
		<result column="ITEM_ID" property="itemId" jdbcType="CHAR" />
		<result column="ITEM_NM" property="itemNm" jdbcType="VARCHAR" />
		<result column="ITEM_PRICE" property="itemPrice" jdbcType="INTEGER" />
		<result column="ITEM_UNIT" property="itemUnit" jdbcType="INTEGER" />
		<result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_BY" property="createBy" jdbcType="CHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="CHAR" />
    </resultMap>


	<sql id="Base_Column_List">
		ITEM_MST.ITEM_ID
		,ITEM_MST.ITEM_NM
		,ITEM_MST.ITEM_PRICE
		,ITEM_MST.ITEM_UNIT
		,ITEM_MST.DEL_FLG
		,ITEM_MST.CREATE_TIME
		,ITEM_MST.CREATE_BY
		,ITEM_MST.UPDATE_TIME
		,ITEM_MST.UPDATE_BY
	</sql>


    <select id="getAll" resultMap="BaseResultMap" >
       SELECT
        <include refid="Base_Column_List" />
	   FROM ITEM_MST
	   WHERE
	     ITEM_MST.DEL_FLG = '0'
    </select>

</mapper>