<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Ansin.web.mapper.LanMstMapper">
		<resultMap id="BaseResultMap" type="Ansin.web.entity.LanMstEntity">
			<result column="LANGUAGE_ID" property="languageId" jdbcType="INTEGER"/>
			<result column="LANGUAGE" property="language" jdbcType="VARCHAR"/>
			<result column="DEL_FLG" property="delFlg" jdbcType="CHAR"/>
			<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
			<result column="CREATE_BY" property="createBy" jdbcType="CHAR"/>
			<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
			<result column="UPDATE_BY" property="updateBy" jdbcType="CHAR"/>
		</resultMap>
		
		<sql id="Base_Column_List">
				LAN_MST.LANGUAGE_ID,					
				LAN_MST.LANGUAGE		
		</sql>
		
		<select id="getAll" resultMap="BaseResultMap">												
			SELECT													
				<include refid="Base_Column_List" />			
			FROM													
				LAN_MST										
			WHERE													
				LAN_MST.DEL_FLG = '0'											
		</select>
</mapper>