<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Ansin.web.mapper.PositionLanTblMapper" >
    <resultMap id="PositionLanTblMap" type="Ansin.web.entity.PositionLanTblEntity" >
        <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
		<result column="LEVEL_SECTION" property="levelSection" jdbcType="VARCHAR" />
    </resultMap>
	
	<select id="getLanInfo" resultMap="PositionLanTblMap" >
		SELECT 
       		LAN_MST.LANGUAGE
       		,POSITION_LAN_TBL.LEVEL_SECTION
		FROM
			POSITION_LAN_TBL,LAN_MST
		WHERE
			POSITION_LAN_TBL.LANGUAGE_ID = LAN_MST.LANGUAGE_ID
		AND
			POSITION_LAN_TBL.DEL_FLG = '0'
		AND
			LAN_MST.DEL_FLG = '0'
		AND
			POSITION_LAN_TBL.COMPANY_ID IN 
			<foreach collection="positionTblBySearchIdEntity" item="positionTblBySearchIdEntity" index="index" open="(" separator="," close=")">
				#{positionTblBySearchIdEntity.companyId}
			</foreach>
		AND
			POSITION_LAN_TBL.POSITION_ID IN
			<foreach collection="positionTblBySearchIdEntity" item="positionTblBySearchIdEntity" index="index" open="(" separator="," close=")">
				#{positionTblBySearchIdEntity.positionId}
			</foreach>
    </select>
    
</mapper>