<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Ansin.web.mapper.PrefecturesMstMapper" >
    <resultMap id="BaseResultMap" type="Ansin.web.entity.PrefecturesMstEntity" >
		<result column="PREFE_ID" property="prefeId" jdbcType="INTEGER" />
		<result column="PREFE_NM" property="prefeNm" jdbcType="VARCHAR" />
		<result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_BY" property="createBy" jdbcType="CHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="CHAR" />
    </resultMap>


	<sql id="Base_Column_List">
		PREFECTURES_MST.PREFE_ID
		,PREFECTURES_MST.PREFE_NM
		,PREFECTURES_MST.DEL_FLG
		,PREFECTURES_MST.CREATE_TIME
		,PREFECTURES_MST.CREATE_BY
		,PREFECTURES_MST.UPDATE_TIME
		,PREFECTURES_MST.UPDATE_BY
	</sql>


    <select id="getAll" resultMap="BaseResultMap" >
       SELECT
        <include refid="Base_Column_List" />
	   FROM anjob.PREFECTURES_MST
	   WHERE
	   PREFECTURES_MST.DEL_FLG = '0'
    </select>


    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
       SELECT
        <include refid="Base_Column_List" />
	   FROM 
	   		PREFECTURES_MST
	   WHERE
	     	PREFECTURES_MST.DEL_FLG = '0'
	   AND
	    	PREFECTURES_MST.PREFE_ID = #{prefeId}
    </select>




</mapper>